<footer>
    <section>
        <a href="/">Home</a>
        <a href="/">Over funda</a>
        <a href="/">Werken bij</a>
        <a href="/">Makelaars</a>
        <a href="/">Huren</a>
    </section>
</footer>