
{% layout "layouts/main-layout.liquid" %}

{% block content %}

<section class="lists-container max-width">
    {% for list in lists %}
    <article>
        <section class="images">
            {% for house in list.enriched_houses limit: 4 %}
                
                {% if house.poster_image %}
                    {% render 'partials/picture.liquid',
                        imagesrc: house.poster_image,
                        fetch: "auto",
                        class: "poster-preview",
                        width: "200",
                        height: "200"
                    %}
                
                {% elsif house.gallery.size > 0 %}
                    {% assign first_gallery_id = house.gallery | first %}
                    {% render 'partials/picture.liquid',
                        imagesrc: first_gallery_id,
                        fetch: "auto",
                        class: "gallery-preview",
                        width: "200",
                        height: "200"
                    %}
                {% endif %}

            {% endfor %}
        </section>
        <h3>
            {{ list.title }}
        </h3>
        <span>{{ list.houses.size }} huizen in dit lijstje</span>
        

        <a href="/favorieten/{{ list.slug }}" class="btn-view-list">Bekijk lijstje</a>
    </article>
    {% else %}
        <p>Je hebt nog geen lijstjes aangemaakt.</p>
    {% endfor %}
</section>
{% endblock %}