{% layout "layouts/main-layout.liquid", class: "max-width" %}

{% block content %}
  <section class="newlist">
    <form action="/favorieten/nieuw" method="POST">
      <fieldset class="form-group breathingspace">
        <label class="breathingspace" for="title">Hoe gaat jouw lijstje heten?</label>
        <input class="breathingspace" type="text" id="title" name="title" required placeholder="Mooie huizen">
      </fieldset>

      <fieldset class="form-group breathingspace">
        <label for="description">Beschrijving</label>
        <textarea class="breathingspace" id="description" name="description" placeholder="Huizen in het centrum"></textarea>
      </fieldset>

      <fieldset class="form-actions">
        <button class="primary link" type="submit">Lijst opslaan</button>
      </fieldset>
    </form>
  </section>
{% endblock %}