{% layout "layouts/no-header-layout.liquid" %}

{% block content %}
    {% render 'partials/breadcrumbs.liquid' house: house, %}
        <section class="gallery">
            <a class="gallery-item poster" href="/huis/{{ house.slug }}/media/fotos">
                {% if house.poster_image.id %}
                    {% render 'partials/picture.liquid',
                        imagesrc: house.poster_image.id,
                        fetch: "high",
                        class: "poster",
                    %}
                {% endif %}
            </a>
            
            {% if house.gallery and house.gallery.size > 0 %}
                {% for item in house.gallery %}
                    {% if item.directus_files_id %}
                        <a class="gallery-item" href="/huis/{{ house.slug }}/media/fotos">
                            {% render 'partials/picture.liquid',
                                imagesrc: item.directus_files_id,
                                fetch: "high",
                            %}
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </section>

        <section>
            <iframe data-testid="embed-iframe" src="https://funda.cloudpano.com/tours/GtxCOT8rnaYZ#sceneId=QZXuzBoapT" class="size-full"></iframe>
        </section>

        <section>
            <iframe data-testid="embed-iframe" src="https://fmlpub.s3-eu-west-1.amazonaws.com/embed.html?designId=303579373&amp;projectId=186223444" class="size-full"></iframe>
        </section>
{% endblock %}