{% layout "layouts/main-layout.liquid" %}

{% block content %}
    {% render 'partials/breadcrumbs.liquid' house: house, %}
    <section>
        {% if house.poster_image.id %}
            <img src="https://fdnd-agency.directus.app/assets/{{ house.poster_image.id }}" alt="Poster van {{ house.street }}">
        {% endif %}
    </section>
{% endblock %}