{% layout "layouts/main-layout.liquid" %}

{% block content %}
    <h2>{{ title }}</h2>
    <section class="house-grid breathingspace max-width">
        {% for house in houses %}
                {% render 'partials/house-card.liquid', house: house %}
            {% else %}
        {% endfor %}
    </section>
{% endblock %}