header {
    display: flex;
    width: 100%;
    height: 4rem;
    

    nav.parent-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-inline: .5rem;
        background-color: var(--primary);

        img {
            width: 6rem;
            height: auto;
            align-self: center;
        }

        button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            color: var(--light-text);
        }

        nav.mobile {
            display: flex;
            width: fit-content;
            gap: 1rem;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: fit-content;
                font-size: .8rem;
                color: var(--light-text);

                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }

            @media (min-width: 768px) {
                display: none;
            }
        }

        nav.desktop {
            display: none;
            grid-template-columns: 1fr 1fr 1fr;

            @media (min-width: 768px) {
                display: grid;
            }
        }
    }
}