@font-face {
    font-family: proxreg;
    src: url(/assets/fonts/proxreg.woff2);
    font-display: swap;
}

@font-face {
    font-family: proxsemi;
    src: url(/assets/fonts/proxsemi.woff2);
    font-display: swap;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, video {
    width: 100%;
    height: auto;
}

body {

    /* font sizes */

    --heading-large: clamp(1.5rem, 3vw, 1.8rem);
    --heading-medium: clamp(1.3rem, 2vw, 1.9rem);
    --paragraph: 1rem;

    /* colors */

    --primary: hsl(33, 100%, 56%);
    --hover-primary: #f58700;
    --secondary: hsl(205, 68%, 51%);
    --accent: hsl(354, 61%, 66%);
    --main-background: hsl(0, 0%, 100%);
    --surface: hsl(33, 40%, 94%);
    --dark-text: rgb(51, 51, 51);
    --light-text: hsl(0, 0%, 100%);
    --active-link: rgba(0, 113, 179, 1);
    --btn-hover: rgb(211, 239, 255);
    --inactive: hsl(0, 0%, 56%);
    --seperator: hsl(0, 0%, 92%);

    --small-radius: .5rem;
    --round-radius: 100%;
    --badge-radius: 5px;

    --max-width: 63rem;
    --gallery-width: 73rem;

}

h1, h2, h3, h4, h5, h6 {
    font-family: proxsemi;
    font-size: var(--heading-large);
    color: var(--dark-text);
    line-height: 1.1;
}

p, a, button, ul, li, dl, dd {
    font-family: proxreg;
    font-size: var(--paragraph);
    color: var(--dark-text);
    line-height: 1.5;   
    text-decoration: none;
}

strong {
    font-family: proxsemi;
    font-size: var(--paragraph);
}

.vs-hidden {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a {
    color: var(--active-link);

    &.breadcrumb {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            display: block;
            min-width: 1rem;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--primary);
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }
}

.inactive, span {
    color: var(--inactive);
    font-family: proxreg;
}


svg {
    width: 1.5rem;
    height: 1.5rem;
}

.max-width {

    @media (min-width: 63rem) {
        padding-inline: 0;
        width: var(--max-width); 
        margin-left: calc((100vw - var(--max-width)) / 2);
        margin-right: calc((100vw - var(--max-width)) / 2);
    }
}

/* very nasty way of creating a full width seperator */
.seperator {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--seperator);
    position: relative;
    grid-column: 1 / span 2;

    &.fullwidth {
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.badge {
    display: flex;
    width: fit-content;
    font-family: proxsemi;
    padding: 0rem .3rem;
    border-radius: var(--badge-radius);
    background-color: var(--primary);
    color: var(--light-text);
}

.breathingspace {
    margin-block: clamp(.5rem, 1dvh, 1rem);
}

.breatingspace-section {
    margin-block: clamp(.7rem, 2dvh, 1.2rem);
}

button.warning {
    background-color: transparent;
    border: none;
    display: flex;
    
    svg {
        path {
            fill: var(--primary);
        }
    }
}

section.popover {
    position: relative;
    position: fixed;
    width: 100vw;
    height: 80%;
    top: auto; 
    bottom: 0;
    left: 0px;
    margin: 0;
    padding: 0rem 1rem;
    border: none;
    border-radius: var(--small-radius) var(--small-radius) 0 0 ;

    @media (min-width: 768px) {
        width: 40vw;
        margin: auto auto;
        padding: 0rem 3rem;
        border-radius: var(--small-radius);
        top: 50%; 
        bottom: 50%;
    }

    &::backdrop {
        background-color: black;
        opacity: 0.7;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0rem;
        position: sticky;
        bottom: auto;
        background-color: var(--main-background);
        height: 10%;
        top: 0;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
        }
    }

    footer {
        display: flex;
        position: sticky;
        top: auto;
        height: 10%;
        padding: 1rem 0rem;
        bottom: 0;
        background-color: var(--main-background)
    }
}

article.list-options {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-height: 60%;
    overflow-y: auto;
    scroll-behavior: smooth;

    label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0.6rem;
        border: 1px solid var(--seperator);
        border-radius: var(--small-radius);
        transition: all .3s ease;

        &:has(input[type="radio"]:checked) {
            background-color: var(--primary);

            span {
                color: var(--light-text);
            }
        }

        &:focus {
            background-color: var(--primary);
        }

        &:hover {
            background-color: var(--primary);
        }

        span {
            color: var(--text);
        }

        &:has(input[type="radio"]:checked) {
            background-color: var(--primary);
            border-color: var(--primary);

            span {
                color: var(--light-text);
            }
        }
    }
}

.btn-submit-save {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0.6rem;
    border: 1px solid var(--seperator);
    border-radius: var(--small-radius);
    cursor: pointer;
    transition: all .3s ease;
    background-color: var(--seperator);

    form:has(input[type="radio"]:checked) & {
        background-color: var(--primary);
        color: var(--light-text);
        border-color: var(--primary);
    }
}