@font-face {
    font-family: proxreg;
    src: url(/assets/fonts/proxreg.woff2);
    font-display: swap;
}

@font-face {
    font-family: proxsemi;
    src: url(/assets/fonts/proxsemi.woff2);
    font-display: swap;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, video {
    width: 100%;
    height: auto;
}

body {

    /* font sizes */

    --heading-large: clamp(1.7rem, 2.5vw, 1.6rem);
    --heading-medium: clamp(1.3rem, 2vw, 1.3rem);
    --paragraph: 1rem;

    /* colors */

    --primary: hsl(33, 100%, 56%);
    --hover-primary: #f58700;
    --secondary: hsl(205, 68%, 51%);
    --accent: hsl(354, 61%, 66%);
    --main-background: hsl(0, 0%, 100%);
    --surface: hsl(33, 40%, 94%);
    --dark-text: hsl(0, 0%, 20%);
    --light-text: hsl(0, 0%, 100%);
    --active-link: rgba(0, 113, 179, 1);
    --inactive: hsl(0, 0%, 56%);
    --seperator: hsl(0, 0%, 77%);

    --small-radius: .5rem;
    --round-radius: 100%;
    --badge-radius: 5px;

    --max-width: 63rem;
    --gallery-width: 73rem;

}

h1, h2, h3, h4, h5, h6 {
    font-family: proxsemi;
    font-size: var(--heading-large);
    color: var(--color-text);
    line-height: 1.1;
}

p, a, button {
    font-family: proxreg;
    font-size: var(--paragraph);
    color: var(--color-text);
    line-height: 1.5;   
    text-decoration: none;
}

.vs-hidden {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a {
    color: var(--active-link);

    &.breadcrumb {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            display: block;
            min-width: 1rem;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--primary);
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }
}

.inactive, span {
    color: var(--inactive);
    font-family: proxreg;
}


svg {
    width: 1.5rem;
    height: 1.5rem;
}

.max-width {

    @media (min-width: 63rem) {
        padding-inline: 0;
        width: var(--max-width); 
        margin-left: calc((100vw - var(--max-width)) / 2);
        margin-right: calc((100vw - var(--max-width)) / 2);
    }
}

/* very nasty way of creating a full width seperator */
.seperator {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--seperator);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.badge {
    display: flex;
    width: fit-content;
    font-family: proxsemi;
    padding: 0rem .3rem;
    border-radius: var(--badge-radius);
    background-color: var(--primary);
    color: var(--light-text);
}

.breathingspace {
    margin-block: .5rem;
}