<head>
    <meta charset="UTF-8">
    <meta lang="nl">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Funda | Jouw huizen</title>
    <meta name="description" content="Bekijk kenmerken, foto's, plattegronden en video's van deze woning op Funda.">
    <meta name="view-transition" content="same-origin">
    {% block head_extra %}{% endblock %}
    <link rel="preconnect" href="https://fdnd-agency.directus.app">
    <link rel="preload" href="/assets/fonts/proxsemi.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/proxreg.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <style>

    </style>
    <link rel="stylesheet" href="/assets/styles/styleguide.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="/assets/scripts/script.js" defer></script>
</head>
<body>

    <header class="page-header">
        {% block header %}
            {% render 'partials/header.liquid' %}
        {% endblock %}
    </header>

    <main class="{{ mainclass }} view-transition">
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
            {% render 'partials/footer.liquid' %}
        {% endblock %}
    </footer>

</body>
</html>